################
## Train
###############

config.xml
/content/save
/target

#################
## Eclipse
#################

/bin/*
.classpath
.project
.settings
.metadata/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
