<?xml version="1.0" encoding="UTF-8" standalone="no"?><configuration>
	<properties>
		<property name="version">0.1</property>
		<property name="language">cz</property>
		<property name="width">800</property>
		<property name="height">600</property>
		<property name="fullscreen">false</property>
	</properties>
</configuration>